<?xml version="1.0"?>
<launch> 

	<arg name="name" default="yumi" doc="The robot name. Ensure this is the same name you give to the arm in the urdf instance."/>
	
	<!-- <arg name="ip" default="192.168.125.1"/> -->
	<rosparam file="$(find yumi_control)/config/position_controllers.yaml" command="load" ns="/yumi"/>
	<rosparam file="$(find yumi_control)/config/gripper_controllers.yaml" command="load" ns="/yumi"/>
	<arg name="arm_controllers" default="joint_state_controller 
									 joint_pos_controller_1_r
									 joint_pos_controller_2_r
									 joint_pos_controller_7_r
									 joint_pos_controller_3_r
									 joint_pos_controller_4_r
									 joint_pos_controller_5_r
									 joint_pos_controller_6_r
 									 joint_pos_controller_1_l
									 joint_pos_controller_2_l
									 joint_pos_controller_7_l
									 joint_pos_controller_3_l
									 joint_pos_controller_4_l
									 joint_pos_controller_5_l
									 joint_pos_controller_6_l"/>
    <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg arm_controllers)" ns="/yumi"/>

	<!--  Hardware interfaces for the joints and grippers -->    
    <arg name="arms_hardware_interface" default="PositionJointInterface"/>
    <arg name="grippers_hardware_interface" default="EffortJointInterface"/>

    <!-- URDF / SRDF parameters -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find yumi_description)/urdf/yumi.urdf.xacro' arms_interface:=$(arg arms_hardware_interface) grippers_interface:=$(arg grippers_hardware_interface)" />

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
		<remap from="/joint_states" to="/yumi/joint_states" />
	</node>

	<!-- ABB Robot Driver-->
	<include file="$(find abb_robot_bringup_examples)/launch/ex3_rws_and_egm_yumi_robot.launch" />

    <!-- Joint state and robot state publisher calls -->
    <node name="yumi_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <!-- <rosparam param="source_list">["/yumi/joint_states", "/yumi/gripper_states"]</rosparam> -->
    </node>

    <node name="yumi_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- Launch Move Group Capabilities -->
    <include file="$(find yumi_moveit_config)/launch/move_group.launch"/>
	
    <!-- Show robot in Rviz   -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find yumi_description)/yumi.rviz"/>

</launch>

